#contato {
    background: var(--background-blue);
}


form {
    max-width: 642px;
}

input, textarea, button {
    outline: none;
    color: var(--cor-menu-normal);
    font-family: inherit;
    width: 100%;
    border: 1px solid var(--cor-menu-normal);
    border-radius: 7px;
    background: transparent;
    padding: 8px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    resize: none;
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover,
button:active,
button:focus,
button:hover {
  background-color: var(--cor-menu-normal);
  color: var(--azul-xcuro);
}

button[type=submit] {
    width: auto;
    float: right;
}

span.text {
    font-size: 12px;
    display: inline-block;
    float: left;
}


.last {
    position: absolute; 
    left: 48%;
    bottom: 0; 
}

.chevron-up {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: var(--chevron-up);
    animation: fade 1.3s infinite;
}
