
/* Definição de fonte customizada */
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

 /* ============== variaveis ============== */
:root {
  --white: #ffffff;
  --background-blue: #27184E;
  --cor-menu-hover-home: #D95B72;
  --color-font-hover: #813b48;
  --color-font-link: #C25161;
  --linkedin: url(../img/logo-linkedin.png);
  --linkedin-hover: url(../img/logo-linkedin-hover.png);
  --github: url(../img/logo-github.png);
  --github-hover: url(../img/logo-github-hover.png);
  --instagram: url(../img/logo-instagram.png);
  --instagram-hover: url(../img/logo-instagram-hover.png);
  --facebook: url(../img/logo-facebook.png);
  --facebook-hover: url(../img/logo-facebook-hover.png);
  --chevron-down: url(../img/chevron-down.png);
  --chevron-up: url(../img/chevron-up.png);
  --bg-home: url(../img/bg-home.png);
}

* {
  text-decoration: none;  
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a:-webkit-any-link {
  color: var(--cor-menu-hover-home);
  transition: color 1s;
  cursor: pointer;
}

body {
  background: var(--white);
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

/* ============== ESTRUTURA DO HEADER ============== */

header {
  position: fixed;
  z-index: 2;
  padding: 2% 0;
  width: 100%;
  background: transparent;
  color: var(--cor-menu-hover-home);
}

header div {
  width: 71%;
  margin: 0 auto;
}

.menu {
  margin: 1px 0;
  color: var(--cor-menu-hover-home);
  font-size: 14px;
  display: inline-flex;
  width: 89.5%;
}
.nomeL {
  color: white !important;
  font-weight: 900;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 25px;
}

.emphasisB {
  font-weight: 900;
  color: var(--color-font-link);
  float: left;
  font-size: 12px;
}

.menu-middle {
  width: 40%;
  display: flex;
  margin-left: 29%;
}

.menu a {
  padding: 11px 20px;
}

.menu-middle a:hover,
.nomeL:hover {
  color: var(--color-font-hover);
}

#menu a.ativo {
  border-radius: 25px;
  background: var(--cor-menu-hover-home);
  color: var(--background-blue);
}

.menu-middle a:nth-child(4){
  margin-left: 90%;
}

/* ============== ESTRUTURA DO BURGER ============== */
#burger {
  display: none;
  width: 40px;
  height: 32px;
  padding: 8px 4px 0 4px;
  float: right;
  margin-right: 10px;
}

#burger div {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

#burger:hover div:nth-child(2),
#burger:active div:nth-child(2):target {
  width: 25px !important;
}




/* ================== CONFIG GERAL HOME, ABOUT, PROJECTS, CONTACT ================== */

#sobre,
#projetos,
#contato {
  display: block;
  position: relative;
  background: var(--background-blue);
}

.home-aside,
.sobre-aside,
.projetos-aside,
.contato-aside {
  position: absolute;
}

.chevron-down {
  display: inline-block;
  background-image: var(--chevron-down);
  width: 48px;
  height: 48px;
  animation: fade 1.3s infinite;
}

/* ================== SCROLLBAR ================== */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-font-hover);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--cor-menu-hover-home);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--color-font-link);
}

/* ================== KEYFRAMES ================== */
/* maquina de escrever chrome */
@keyframes typing {
  from {
      width: 0;
  }
  to {
     width: 570px;
  }
}

@keyframes curPisc {
  from,
  to {
      border-right: 5px solid white;
  }

  50% {
      border-right: none;
  }
}

/* maquina de escrever outros browsers */
@-moz-keyframes typing {
  from {
      width: 0;
  }
  to {
     width: 570px;
  }
}

@-moz-keyframes curPisc {
  from,
  to {
      border-right: 5px solid white;
  }

  50% {
      border-right: none;
  }
}

@-webkit-keyframes typing {
  from {
      width: 0;
  }
  to {
     width: 570px;
  }
}

@-webkit-keyframes curPisc {
  from,
  to {
      border-right: 5px solid white;
  }

  50% {
      border-right: none;
  }
}

@-o-keyframes typing {
  from {
      width: 0;
  }
  to {
     width: 570px;
  }
}

@-o-keyframes curPisc {
  from,
  to {
      border-right: 5px solid white;
  }

  50% {
      border-right: none;
  }
}
@-ms-keyframes typing {
  from {
      width: 0;
  }
  to {
     width: 570px;
  }
}

@-ms-keyframes curPisc {
  from,
  to {
      border-right: 5px solid white;
  }

  50% {
      border-right: none;
  }
}

/* chevron fade chrome */

@keyframes fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100%  {
    opacity: 0;

  }
}

/* chevron fade other browsers */

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100%  {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100%  {
    opacity: 0;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100%  {
    opacity: 0;
  }
}

@-ms-keyframes fade {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100%  {
    opacity: 0;
  }
}

/* scroll down */



@keyframes scrollDown {
  0% {

  }

}
